/*styles for entire document*/
*{
	font-family: Helvetica;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}
/*nav bar*/
nav{
	height: 69px;
	border-bottom: 1px solid seashell;
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 22px;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li{
	text-decoration: underline;
	float: right;
	display: inline-block;
	padding: 10px;
	margin: 10px;
}
nav img{
	height: 50px;
	margin: 10px;
	display: inline-block;
	float: left;
}
/*mission*/
body{
	position: relative;
	top: 69px;
}
.mission{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 700px;
	width: 1200px;
	text-align: center;
	color: white;
	background-image:  url("img-mission-background.jpg");
	background-size: cover;
	background-position: center;
}
.mission-text{
	width: 100%;
	text-align: center;
}
/*featured-tea*/
.featured-tea{
	display: block;
	margin: auto;
	width: 1000px;
}
.featured-tea-images{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.featured-tea-images img{
	height: 200px;
	width: 300px;
	margin: 10px;
}
.featured-tea h4{
	margin: 0 auto;
}
/*locations*/
.locations{
	display: block;
	margin: 0 auto;
	height: 500px;
	width: 1200px;
	background-image:  url("img-locations-background.jpg");
	background-color: transparent;
	background-size: cover;
	background-position: center;
	text-align: center;
}
.locations h2{
	background-color: transparent;
	margin: 15px auto;
}
.location-addresses{
	display: inline-block;
	justify-content: space-around;
	background-color: transparent;
}
.address-block{
	display: inline-block;
	width: 300px;
	margin: 20px;
	background-color: black;
	opacity: 1;
}
/*footer*/
.contact-info{
	height: 200px;
	display: block;
	text-align: center;
}
.copyright{
	text-align: left;
	margin: 20px;
}
