html, body{
	font-family: 'Helvetica';
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}
/*header section*/
#logo{
	float: left;
	margin-left: 10px;
}
.header{
	height: 69px;
	border-bottom: 1px solid seashell;
}
ul{
	text-align: right;
}
.header li{
	list-style: none;
	display: inline-block;
}
.header li a{
	color: seashell;
	margin:0;
	border:0px;
	text decoration: underline;
}
/*mission section*/

.container1{
	display: flex;
	justify-content: center;
}
.mission{
	height: 700px;
	background-image: url("img-mission-background.jpg");
	max-width: 1200px;
	margin-left: 50px;
	align-items: center;
	justify-content: center;	
}
.mission h2, h4{
	display: flex;
	justify-content: center;
	
	background-color: black;
}
/*featuredTea section*/
.cards{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;;
}

	
